:root {
  --green: #26786a;
}

html {
  font-family: "Niramit", sans-serif;
  color: #2d3663;
}

@media screen and (max-width: 1491px) {
  html {
    font-size: 14px;
  }
}

.color-green {
  color: var(--green);
}

a {
  color: var(--green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h2 {
  font-size: 3.75rem;
  line-height: 1.2;
}
h3 {
  font-size: 2.63rem;
}

h4 {
  font-size: 2.25rem;
}

@media screen and (max-width: 1023px) {
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2.2rem;
  }
  h5 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.9rem;
  }
  h5 {
    font-size: 1.8rem;
  }
}

.h3-greenback {
  border-radius: 13px;
  background-color: #26796a;
  color: white;
  font-size: 2.8125rem;
  line-height: 1.2;
  width: 100%;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .h3-greenback {
    font-size: 2.5rem;
    height: 100px;
  }
}

@media screen and (max-width: 767px) {
  .h3-greenback {
    font-size: 2rem;
  }
}

p {
  font-size: 1.437rem;
  line-height: 1.2;
}

.icon-div {
  width: 62px;
  height: 62px;
  border-radius: 31px;
  background-color: #26796a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-div img {
  max-width: 67%;
  max-height: 67%;
}

.vertical-line {
  width: 1px;
  height: 100%;
  background-color: #e6e6e6;
}

.horizontal-line {
  display: block;
  width: 100%;
  border: none !important;
  background-color: #e6e6e6;
  height: 1px;
}

.main-container {
  width: 100%;
  max-width: 1492px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#topnav {
  display: flex;
  align-items: center;
  padding-top: 2.31rem;
  padding-bottom: 2.31rem;
  border-bottom: 1px #f2f2f2 dotted;
}

#topnav .navbar-brand {
  padding: 0;
}

#topnav .collpase-button {
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

#nav-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  #topnav {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #topnav .navbar-brand img {
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  #topnav .navbar-brand img {
    width: 180px;
  }
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 2px solid var(--green);
}

.title-section h1 {
  color: var(--green);
  margin: 0;
  font-size: 6.25rem;
}

@media screen and (max-width: 1023px) {
  .title-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .title-section h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .title-section h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .title-section h1 {
    font-size: 2.5rem;
  }
}

.custom-footer {
  width: 100%;
  height: 855px;
  background-color: #2d3663;
}

.copyright-section {
  background-color: #283159;
  height: 150px;
}

/* contact page styles start */
.contact-info-section {
  position: relative;
  padding: 9.375rem 0 4.18rem;
}

.contact-info-section .contact-info-pane {
  background-color: #edf3f6;
  border-radius: 13px;
  margin: 3.43rem 0;
  padding: 1.25rem 3.43rem 2.81rem;
}

.contact-info-section .contact-info-pane h3 {
  margin: 0 0 1.25rem 0;
}

.contact-info-section .contact-info-item {
  position: relative;
  font-size: 1.25rem;
  line-height: 24px;
  background-color: white;
  border-radius: 13px;
  margin: 50px 0 0 0;
  padding: 32px 18px 18px 18px;
}

.contact-info-section .contact-info-item .icon-div {
  position: absolute;
  left: 18px;
  top: -31px;
}

.contact-info-section .contact-info-img {
  margin: 3.43rem 0;
  background-image: url("../images/contact.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 13px;
  height: 100%;
  /* min-height: 675px; */
}

@media screen and (max-width: 1023px) {
  .contact-info-section {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .contact-info-section .contact-info-pane {
    padding: 1rem 2rem 1rem;
  }
}

@media screen and (max-width: 767px) {
  .contact-info-section {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .contact-info-section .contact-info-pane {
    padding: 1rem;
  }

  .contact-info-section .contact-info-img {
    height: 500px;
  }
}

.contact-list-section {
  position: relative;
  display: flex;
  margin: 4.18rem 0 9.375rem;
  justify-content: center;
}

.contact-list-section .row {
  width: 100%;
}

.contact-list-section .contact-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #e6e6e6;
}

.contact-list-section .contact-list-item:last-child {
  border-right: 0;
}

.contact-list-section .contact-list-item h4 {
  margin: 5px 0 40px;
  line-height: 43px;
  text-align: center;
}

.contact-list-section .contact-list-item p {
  line-height: 26px;
  font-size: 23px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .contact-list-section {
    margin: 1rem 3rem;
  }
}

@media screen and (max-width: 767px) {
  .contact-list-section {
    margin: 1rem 3rem;
  }

  .contact-list-section .contact-list-item {
    border-right: none !important;
    padding: 2rem 0;
    border-bottom: 1px solid #e6e6e6;
  }

  .contact-list-section .contact-list-item:last-child {
    border: none !important;
  }
}
/* contact page styles end */

/* what page styles start */
.what-info-section {
  position: relative;
  margin: 8.56rem 0 4.18rem;
}

@media screen and (max-width: 1023px) {
  .what-info-section {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .what-info-section {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

.what-info-section p {
  font-size: 23px;
  line-height: 36px;
}

.what-info-section .what-info-img {
  background-image: url("../images/what-info-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  border-radius: 23px;
}

@media screen and (max-width: 767px) {
  .what-info-section .what-info-img {
    height: 525px;
  }
}

.performance-detail-section {
  position: relative;
  margin: 4.18rem 0;
}

.performance-detail-section .h3-greenback {
}

.performance-detail-section .col-md-4 {
  position: relative;
}

.performance-detail-section .col-md-4:after {
  content: " ";
  position: absolute;
  top: 67px;
  right: 0;
  height: 154px;
  width: 1px;
  background-color: #e6e6e6;
}

.performance-detail-section .col-md-4:last-child:after {
  display: none;
}

.performance-detail-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 67px 0;
  border-bottom: 1px solid #e6e6e6;
  max-width: 355px;
  width: 100%;
  margin: 0 auto;
}

.performance-detail-section .row:last-child .content {
  border-bottom: 0;
}

.performance-detail-section .content .icon-div-back-img {
  margin-bottom: 8px;
  width: 113px;
  height: 90px;
  background-position: center center;
  background-repeat: no-repeat;
}

.performance-detail-section .content h4 {
  line-height: 48px;
  text-align: center;
}

.person-description-section {
  overflow: hidden;
  border-radius: 13px;
  background-color: #edf3f6;
  padding: 3.625rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 9.37rem;
}

@media screen and (max-width: 1023px) {
  .person-description-section {
    margin-bottom: 5rem;
    padding: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .person-description-section {
    margin-bottom: 3rem;
    padding: 1rem;
  }
}

.person-description-div {
  background-color: white;
  border-radius: 27px;
  overflow: hidden;
  min-height: 336px;
  display: flex;
  margin-bottom: 40px;
  height: auto;
}

.person-description-div:last-child {
  margin-bottom: 0;
}

.person-description-div .what-person-img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 372px;
  min-height: 336px;
  flex: 0 0 372px;
}

@media screen and (max-width: 1023px) {
  .person-description-div .what-person-img {
    display: none;
  }
}

.person-description-div .person-detail {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.person-description-div .person-detail h3 {
  line-height: 43px;
  color: var(--green);
}

.person-description-div .person-detail p {
  margin: 0;
  line-height: 1.27;
}

.logo-section {
  margin-bottom: 8.56rem;
}

.logo-section h2 {
  margin-bottom: 5rem;
}

.logo-section .grid-container {
  display: grid;
  grid-template-columns: auto 1px auto 1px auto;
  grid-gap: 3rem;
}

.logo-section .grid-container .content {
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 1023px) {
  .logo-section {
    margin-bottom: 5rem;
  }

  .logo-section h2 {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .logo-section {
    margin-bottom: 3rem;
  }

  .logo-section h2 {
    margin-bottom: 2rem;
  }

  .logo-section .grid-container {
    grid-template-columns: auto;
  }

  .logo-section .grid-container .vertical-line {
    display: none;
  }

  .logo-section .grid-container .horizontal-line {
    display: none;
  }
}
/* what page styled end */

/* services page styles start */
.services-banner-section {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 9.375 0 0;
}

.services-banner-section .main-container {
  position: absolute;
  top: 50px;
}

.services-banner-section img {
  width: 100%;
  height: auto;
}

.services-banner-section h1 {
  font-size: 5.12rem;
  line-height: 1.2;
}

@media screen and (max-width: 1023px) {
  .services-banner-section {
    margin-top: 6rem;
  }

  .services-banner-section h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .services-banner-section {
    margin-top: 3rem;
  }

  .services-banner-section h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .services-banner-section {
    margin-top: 3rem;
  }

  .services-banner-section h1 {
    font-size: 2rem;
  }
}

.service-detail-section {
  padding: 6.25rem 0;
}

.service-detail-section .grid-container {
  display: grid;
  grid-template-columns: auto 1px auto;
  grid-gap: 5rem;
}

.service-detail-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 560px;
}

.service-detail-section .content img {
  margin: 0 0 8px 0;
}

.service-detail-section .content h4 {
  color: var(--green);
  margin: 0 0 15px 0;
  line-height: 1.27;
  text-align: center;
}

.service-detail-section .content p {
  font-size: 23px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .service-detail-section {
    padding: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .service-detail-section {
    padding: 2rem;
  }

  .service-detail-section .grid-container {
    grid-template-columns: auto;
    grid-gap: 0;
  }

  .service-detail-section .content {
    padding: 3rem 0;
    border-bottom: 1px solid #e6e6e6;
  }

  .service-detail-section .grid-container .vertical-line {
    display: none;
  }

  .service-detail-section .grid-container .horizontal-line {
    display: none;
  }
}

.service-description-section {
  background-color: #edf3f6;
  padding: 6.25rem 0 11.87rem;
}

.service-description-section h2 {
  margin: 0 0 60px 0;
}

.service-description-section .person-description-div h3 {
  padding: 0 20px;
}

.service-description-section .person-description-div .icon-div.right {
  position: absolute;
  right: -31px;
  top: 20px;
}

.service-description-section .person-description-div .icon-div.left {
  position: absolute;
  left: -31px;
  top: 20px;
}

@media screen and (max-width: 1023px) {
  .service-description-section {
    padding: 5rem 0 7rem;
  }
}

@media screen and (max-width: 1023px) {
  .service-description-section {
    padding: 3rem 0 5rem;
  }
}

.benefit-section {
  padding: 6rem 0 8.625rem;
}

.benefit-section h2 {
  color: var(--green);
  margin-bottom: 6.25rem;
}

.benefit-section .grid-container {
  display: grid;
  grid-template-columns: auto 1px auto;
  grid-gap: 80px;
}

.benefit-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.benefit-section .content .icon-div-back-img {
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 0 8px 0;
  width: 81px;
  height: 71px;
}

.benefit-section .content h4 {
  color: var(--green);
  margin: 0 0 15px 0;
  line-height: 41px;
  text-align: center;
}

.benefit-section .content p {
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .benefit-section {
    padding: 3rem 5rem;
  }

  .benefit-section h2 {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .benefit-section {
    padding: 2rem 3rem;
  }

  .benefit-section h2 {
    margin-bottom: 2rem;
  }

  .benefit-section .grid-container {
    grid-template-columns: auto;
    grid-gap: 0;
  }

  .benefit-section .grid-container .vertical-line {
    display: none;
  }

  .benefit-section .grid-container .horizontal-line {
    display: none;
  }

  .benefit-section .content {
    padding: 2rem 0;
    border-bottom: 1px solid #e6e6e6;
  }

  .benefit-section .content:last-child {
    border-bottom: none;
  }
}
/* services page styles end */

/* medical package page styles start */
.medical-package-section-one {
  padding: 7.125rem 0;
}

@media screen and (max-width: 1023px) {
  .medical-package-section-one {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 767px) {
  .medical-package-section-one {
    padding: 4rem 0;
  }
}

@media screen and (max-width: 400px) {
  .medical-package-section-one {
    padding: 3rem 0;
  }
}

.medical-package-section-one h2 {
  margin: 0 0 35px 0;
}

.medical-package-section-two {
  margin-bottom: 130px;
}

.medical-package-section-two .h3-greenback {
  margin-bottom: 5rem;
}

.medical-package-section-two .grid-container {
  display: grid;
  grid-template-columns: auto 1px auto 1px auto;
  grid-gap: 110px;
}

.medical-package-section-two .grid-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.medical-package-section-two .grid-container .content .img-div {
  width: 86px;
  height: 71px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 0 8px 0;
  background-size: contain;
}

.medical-package-section-two .grid-container h4 {
  text-align: center;
  font-weight: normal;
}

@media screen and (max-width: 1279px) {
  .medical-package-section-two .grid-container {
    grid-gap: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .medical-package-section-two .grid-container .content .img-div {
    width: 69px;
    height: 56.8px;
  }
  .medical-package-section-two .grid-container h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .medical-package-section-two .grid-container {
    grid-gap: 10px;
  }
  .medical-package-section-two .grid-container .content .img-div {
    width: 69px;
    height: 56.8px;
  }
  .medical-package-section-two .grid-container h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 599px) {
  .medical-package-section-two .grid-container {
    grid-template-columns: 100%;
  }

  .medical-package-section-two .grid-container .content {
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
  }

  .medical-package-section-two .grid-container .vertical-line {
    display: none;
  }

  .medical-package-section-two .grid-container .horizontal-line {
    display: none;
  }
}

.medical-package-section-three {
  margin-bottom: 6.875rem;
}

@media screen and (max-width: 1023px) {
  .medical-package-section-three {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .medical-package-section-three {
    margin-bottom: 3rem;
  }
}

.medical-package-section-three h2 {
  margin: 0 0 35px 0;
  text-align: center;
}

.membership-row {
  display: flex;
  justify-content: center;
}

.membership-card {
  position: relative;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.membership-card:last-child {
  margin-right: 0;
}

.membership-card .red-plus-div {
  position: absolute;
  left: 0;
  top: 5px;
  width: 80px;
  height: 80px;
  background-color: #e83237;
  border: 2px solid white;
  border-radius: 40px;
  background-image: url("../images/plus-bold.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 767px) {
  .membership-card {
    padding-left: 30px;
  }

  .membership-card .red-plus-div {
    width: 60px;
    height: 60px;
    background-size: 60% 60%;
  }
}

.membership-card .membership-title {
  font-size: 19px;
  line-height: 22.8px;
  margin: 0 0 15px 0;
  color: #26956a;
}

.membership-card h5 {
  font-size: 25.45px;
  line-height: 30.54px;
  color: white;
  margin: 10px 0;
  text-align: center;
}

.membership-card .membership-content {
  border-radius: 23px;
  background: #26956a;
  display: flex;
  flex-direction: column;
  padding: 15px 25px 25px;
}

.membership-card .membership-content .btn-membership {
  border-radius: 23px;
  background: white !important;
  color: #26956a !important;
  width: 172px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 22px;
  margin-top: 50px;
  box-shadow: 4.69px 4.69px 3.35px rgba(0, 0, 0, 0.3);
}

.membership-card .membership-content .btn-membership:hover,
.membership-card .membership-content .btn-membership:focus {
  filter: brightness(0.9);
}

.membership-card .membership-content .membership-kind {
  margin-bottom: 25px;
}

.membership-card .membership-content ul {
  list-style: none;
  color: white;
  padding-left: 0;
  margin: 25px 0;
}

.membership-card .membership-content li {
  font-size: 17px;
  line-height: 31px;
}

.membership-card.basic-plus .membership-title {
  color: #26786a;
}

.membership-card.basic-plus .membership-content {
  background: #26786a;
}

.membership-card.basic-plus .membership-content .btn-membership {
  color: #26786a !important;
}

.membership-card.member-premium .membership-title {
  color: #293459;
}

.membership-card.member-premium .membership-content {
  background: #293459;
}

.membership-card.member-premium .membership-content .btn-membership {
  color: #293459 !important;
}

@media screen and (max-width: 1100px) {
  .membership-card {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .membership-row {
    display: flex;
    flex-direction: column;
  }
  .membership-card {
    margin-left: auto;
    margin-right: auto;
  }

  .membership-card:last-child {
    margin-right: auto;
  }
}

/* medical package page styles end */
